#razi{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRQTp5_LqUmBswXrMSDDQcUUhGRiCMmjBJnJg&s);
    background-repeat: no-repeat;
    background-size: cover;
}
.pr{
    border: solid black;
    padding: 100px;
    margin: 150px;
    width: 350px;
    margin-left: 400px;
    margin-top: 40px;
    border-radius: 15px;
    height: 350;
    
}
.hi{
    margin-left: 50px;
    font-size: larger;
    height: 30px;
}
.hii{
    margin-left: 90px;
    font-size: larger;
    height: 50px;

}
#hr{
    margin-left: 40px;
    
    font-size: xx-large;
}
#op{
    background-color: yellow;
    margin-left: 50px;
    font-size: large;
    height: 30px;
}
#gpay{
    width:150px ;
    
    margin-left: 100px;
    height: 50px;

}
#ho{
    width: 150px;
    margin-left: 100px;
    height: 50px;
}
#visa{
    width: 150px;
    margin-left: 100px;
    height: 50px;
}
#apple{
    width: 150px;
    margin-left: 105px;
    height: 51px;
}
#ap{
background-color: brown;
margin-left: 55px;
font-size: large;
height: 30px;
}

